* {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: 19px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #596d48;
    --offwhite: #f9fafb;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    background-color: var(--offwhite);
}

/* left */

.image-container {
    width: 50vw;
    height: 100vh;
    background: url('/images/leaves.jpg');
    background-size: cover;
}


/* right */

.form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para-text, .form-inputs {
    width: 80%;
}

.para-text{
    margin-bottom: 20px;
    font-weight: bold;
}

.form-para-container, .form-submit-container{
    padding: 10px 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 30px 25px;
}

.form-title {
    margin-bottom: 10px;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.form-input {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.form-input input {
    width: 80%;
}

.form-input label {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #5b626c;
}

.form-submit-container button {
    background-color: var(--green);
    color: white;
    font-size: 0.7rem;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.form-submit-container p, .form-submit-container a {
    font-size: 0.8rem;
}

.form-submit-container a {
    color: var(--green);
}